body{
	margin:0;
	padding:0;
	overflow: hidden;
}
.main{

}
.head{
	width: 100%;
	height: 1.5rem;
	line-height: 1.5rem;
	overflow: hidden;
	background: #fff;
	position: relative;
}
.head .logo{
	position: absolute;
	left: .1rem;
	height: 100%;
	width:4rem;
}
.head .logo img{
	width: 100%;
	height: 100%;
}
.head .user-info{
	position: absolute;
	height: 1rem;
	line-height: 1rem;
	right: 0rem;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.head .user-info div{
	float:left;
}
.head .user-head{
	height:1rem;
	width: 1rem;
	display: inline-block;
	margin-right:5px;
}
.head .user-nickname{
	font-size: .4rem;
	display: block;
	float: left;
	width: 1.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.head .user-head img{
	width: 100%;
	height:100%;
	border: 1px solid #FFFAFA;
	border-radius: 50%;
	margin-bottom: 10px;
}
.head .login{
	font-size:.4rem;
}
.chat{

}
.chat-head{
	width: 100%;
	height:1rem;
	background: #EAEAEA;
}
.chat-head>div{
	width: 33.3333%;
	height:1rem;
	float: left;
	text-align: center;
	line-height: 1rem;
}
.chat-head>div>.item{
	font-size:.4rem;
	position: relative;
}
.chat-content>div{
	width: 100%;
	height: 100%;
	font-size:.4rem;
	overflow: scroll;
	overflow-x: hidden;
}
.chat-notice{
	margin: 0 .26667rem .26667rem;
	padding: .13333rem .26667rem;
	background-color: #eee;
	color: #333;
	line-height: 1.2;
	white-space: normal;
	text-align: left;
}
.dm-item{
	margin-bottom: .37333rem;
	padding: 0 .26667rem;
	white-space: normal;
	line-height: 1.2;
	font-size: .37333rem;
	color: #666;
	text-align: left;
}
.chat-message{
	height:1rem;
	width: 100%;
	bottom: 0;
	position: fixed;
	background: #EAEAEA;
}
.chat-message div{
	float:left;
}
.chat-face{
	width:10%;
	height:100%;
	background: #01AAED;
	border-radius: .1rem;
}
.chat-input{
	width:75%;
	height:100%;
	font-size: .5rem;
}
.chat-send{
	width:15%;
	height:100%;
	background: #01AAED;
	border-radius: .1rem;
	font-size: .5rem;
}
.cur{
	color:#1E9FFF;
}
.bt:after{
	display: inline-block;
	position: absolute;
	content: " ";
	width: .4rem;
	height: .1rem;
	background-color: #1E9FFF;
	bottom: 0;
	right: 45%;
	margin-left:-1rem;
}

/*登录页面开始*/
.login-title{
	height: 1.333333rem;
	line-height: 1.333333rem;
	position: relative;
	background: #2a9efa;
	color: #fff;
	font-size: .533333rem;
	text-align: center;
	padding-left: .4rem;
}
.login-return{
	position: absolute;
	width: .36rem;
	height: .586667rem;
	left: .333333rem;
	top: .35rem;
	background: url(../images/return.png) no-repeat;
	background-size: contain;
}
.login-reg{
	color: #fff;
	font-size: .426667rem;
	position: absolute;
	right: .266667rem;
	top: 0;
}

.login-content{
	padding: .266667rem .4rem 0;
}
.login-from li{
	height: 1.17rem;
	margin-bottom: .266667rem;
	border-bottom: 1px solid #dbdbdb;
}
.login-from li input{
	float: left;
	width: 6.933333rem;
	height: 1.14rem;
	line-height: 1.14rem;
	border: 0 none;
	font-size: .426667rem;
}
.login-from li i{
	float: left;
	margin: .266667rem .266667rem 0 .266667rem;
}
.login-from li .icon1{
	width: .533333rem;
	height: .533333rem;
	background: url(../images/loginicon1.png) no-repeat;
	background-size: contain;
}
.login-from li .icon2{
	width: .533333rem;
	height: .533333rem;
	background: url(../images/loginicon2.png) no-repeat;
	background-size: contain;
}
.login-from li .icon3{
	width: .533333rem;
	height: .533333rem;
	background: url(../images/loginicon3.png) no-repeat;
	background-size: contain;
}
.login-from li .icon4{
	width: .533333rem;
	height: .533333rem;
	background: url(../images/loginicon4.png) no-repeat;
	background-size: contain;
}
#login-yzm span{
	display: inline-block;
	height: .8rem;
	width: 2.666667rem;
	margin: 0 .066667rem;
	vertical-align: middle;
	border: 1px solid #dbdbdb;
}
#login-yzm span img{
	width: 100%;
	height: 100%;
}
#login-yzm a{
	color: #f34c7b;
	font-size: .373333rem;
}
.login-btn{
	text-align: center;
	margin: .6rem 0 1rem;
}
.login-btn a{
	display: inline-block;
	width: 8.666667rem;
	height: 1.226667rem;
	line-height: 1.226667rem;
	background: #2a9efa;
	border-radius: .133333rem;
	color: #fff;
	font-size: .48rem;
}
/*登录页面结束*/