<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>登录/注册</title>
    <link rel="stylesheet" type="text/css" href="/static/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>
<body>
<div class="cd-user-modal is-visible">
    <div class="cd-user-modal-container">
        <ul class="cd-switcher">
            <li class="on"><a href="#0">用户登录</a></li>
            <li><a href="#0">注册新用户</a></li>
        </ul>

        <div id="cd-login" class="is-selected"> <!-- 登录表单 -->
            <form class="cd-form">
                <p class="fieldset">
                    <label class="image-replace cd-username" for="signin-username">用户名</label>
                    <input class="full-width has-padding has-border" id="signin-username" type="text" placeholder="输入用户名">
                </p>

                <p class="fieldset">
                    <label class="image-replace cd-password" for="signin-password">密码</label>
                    <input class="full-width has-padding has-border" id="signin-password" type="text"  placeholder="输入密码">
                </p>

                <p class="fieldset">
                    <input type="checkbox" id="remember-me" checked>
                    <label for="remember-me">记住登录状态</label>
                </p>

                <p class="fieldset">
                    <input class="full-width2" type="submit" value="登 录">
                </p>
            </form>
        </div>

        <div id="cd-signup"> <!-- 注册表单 -->
            <form class="cd-form">
                <p class="fieldset">
                    <label class="image-replace cd-username" for="signup-username">昵称</label>
                    <input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="输入昵称">
                </p>

                <p class="fieldset">
                    <label class="image-replace cd-phone" for="signup-username">手机号</label>
                    <input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="输入手机号">
                </p>

                <p class="fieldset">
                    <label class="image-replace cd-phone" for="signup-username">验证码</label>
                    <input class="full-width has-padding has-border" id="signup-usercode" style="width:110px;" type="text" placeholder="输入验证码">
                    <button style="margin-left:20px;" class="layui-btn layui-btn-normal" onclick="getCode()">获取验证码</button>
                </p>

                <p class="fieldset">
                    <label class="image-replace cd-password" for="signup-password">密码</label>
                    <input class="full-width has-padding has-border" id="signup-password" type="text"  placeholder="输入密码">
                </p>

                <p class="fieldset">
                    <input type="checkbox" id="accept-terms">
                    <label for="accept-terms">我已阅读并同意 <a href="#0">用户协议</a></label>
                </p>

                <p class="fieldset">
                    <input class="full-width2" type="submit" value="注册新用户">
                </p>
            </form>
        </div>

        <a href="#0" class="cd-close-form">关闭</a>
    </div>
</div>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/validate.js"></script>
<script src="/static/js/login.js"></script>
</body>
</html>